@import "tailwindcss";

@theme {
  --font-display: "Fira Code", monospace;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
  /* stone-900 */
}

::-webkit-scrollbar-thumb {
  background: #44403c;
  /* stone-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #57534e;
  /* stone-600 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}